<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1004129994901-n9poqqgasfc3p2j4iihpiqj1lqo9j4j9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1004129994901-n9poqqgasfc3p2j4iihpiqj1lqo9j4j9</string>
	<key>API_KEY</key>
	<string>AIzaSyCWHKECbDZDt5JpBravdnIpRDi-kO1tEts</string>
	<key>GCM_SENDER_ID</key>
	<string>1004129994901</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>LPinc.TradingApp</string>
	<key>PROJECT_ID</key>
	<string>finance-app-cf2ea</string>
	<key>STORAGE_BUCKET</key>
	<string>finance-app-cf2ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1004129994901:ios:c139bfa0a70f211672b39c</string>
</dict>
</plist>